


    
    
    KBC Quiz Game - Kaun Banega Crorepati
    


    
        
        
            
                🏆
                KBC Quiz Game
                Kaun Banega Crorepati
                
                
                    Rules of the Game
                    
                        ✓ You will be asked 5 questions from general knowledge
                        ✓ Select your answer from the 4 options provided
                        💰 Correct answer: Win ₹1000
                        ❌ Wrong answer: Lose ₹500
                    
                
                
                ▶ Start Game
            
        

        
        
            
            
                
                    Current Amount
                    ₹0
                
                
                    ✓ 0
                    ✗ 0
                
                
                    Question
                    1/5
                
            

            
            
                Question will appear here
                
            

            
            
                Prize Ladder
                
            
        

        
        
            
                🏆
                Game Over!
                
                
                    
                        💰
                        Total Winnings
                        ₹0
                    
                    
                    
                        ✓
                        Correct Answers
                        0
                    
                    
                    
                        ✗
                        Wrong Answers
                        0
                    
                

                
                
                🏠 Play Again
            
        
    

    


